body {
    background-color: cornflowerblue;
    
}

.done {
    text-decoration: line-through;
}

.todo-filter {
    background-color: gold;
    padding: 10px;
}

.todo-stat {
    background-color: goldenrod;
    padding: 5px;
    margin-top: 10px;
}

.todo-stat span {
    font-size: 20px;
}
.marked{
    color: green;
}

